<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%- config.title %></title>
    <link rel="shortcut icon" href="<%= theme.favicon.href %>" type="<%= theme.favicon.type %>"/>
    <!-- 引入配置文件 -->
    <%- css('css/main.css') %>
    <%- css('images/icon/font/iconfont.css') %>
    <%- js('js/JQuery.js') %>
    <%- js('js/main.js') %>
    <%- js('js/live2d.min.js') %>
    <%- js('js/sakura.js') %>
    <%- js('js/click_effects.js') %>
</head>

<body>
<!-- 回到顶部按钮 -->
<button id="backTop" onclick="backTop()">Top</button>

<!-- 引入侧边栏 -->
<div id="aside">
    <%- include('aside.ejs') %>
</div>

<!-- 引入导航栏 -->
<div id="nav">
    <%- include('nav.ejs') %>
</div>

<!-- 引用index.ejs -->
<div id="content">
    <%- body %>
</div>

<!-- 引入页脚 -->
<div id="footer">
    <%- include('footer.ejs') %>
</div>

</body>
</html>